extends layout

block content
	h1= title
	p This is a demo of popping up the contents of a page using CoffeeScript
	p I have taken a TDD approach to hopefully demonstrate why CoffeeScript would be ace for Springer.

	ul
		li
			a(href="/page1") Page 1
			a(href="/page2") Page 2
			a(href="/page3") Page 3